affine==2.4.0
asgiref==3.8.1
attrs==25.1.0
boto3==1.37.8
botocore==1.37.8
CacheControl==0.14.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
Django==5.1.7
django-filter==24.3
django-geojson==4.1.0
django-leaflet==0.31.0
djangorestframework==3.15.2
djangorestframework-gis==1.1
fiona==1.10.1
geojson==3.2.0
gunicorn==23.0.0
idna==3.10
iso3166==2.1.1
jmespath==1.0.1
mapbox==0.18.1
msgpack==1.1.0
numpy==2.2.3
packaging==24.2
pillow==11.1.0
polyline==2.0.2
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyparsing==3.2.1
pyproj==3.7.1
python-dateutil==2.9.0.post0
rasterio==1.4.3
requests==2.32.3
s3transfer==0.11.4
shapely==2.0.7
six==1.17.0
sqlparse==0.5.3
uritemplate==4.1.1
urllib3==2.3.0
whitenoise==6.9.0